.FlagRegister {
    height: 9vh;
}

.Flag {
    display: inline-block;
    width: 3.8vw;
    text-align: center;
    /* border: 1px solid black; */
    background: darkgray;
    margin: 3px;
    color: white;
}

.flagDescription {
    display: inline-block;
    text-align: center;
    width: 66%;
}

.flagValue {
    display: inline-block;
    width: 33%;
    background: black;
}