.FlagRegister {
    height: 9vh;
}

.Flag {
    display: inline-block;
    width: 4.15vw;
    text-align: center;
    border: 1px solid black;
}

.flagDescription {
    display: inline-block;
    text-align: center;
    width: 66%;
}

.flagValue {
    display: inline-block;
    width: 33%;
}