.Register {
  background-color: white;
  /* border-radius: 5px; */
  height: 10.5vh;
  width: 49%;
  margin: 1% 1% 1% 1%;
}

.ident {
  position: relative;
  /* bottom: 0; */
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  width: 100%;
  background-color: lightgrey;
  /* border-right: 1px dotted #38383a; */
  /* border-bottom: 1px dotted #38383a; */

}

.registerValues {
  height: 7.5vh;
  padding: 3px;
}

.registerHexValue {
  font-weight: bold;
  height: 3.75vh;
  line-height: 3.75vh;
}

.registerDecValue {
  font-weight: bold;
  height: 3.75vh;
  line-height: 2vh;

}

.hexLabel {
  color: green;
  font-weight: normal;
}

.decLabel {
  color: black;
  font-weight: normal;
}