.Register {
  background-color: white;
  /* border-radius: 5px; */
  height: 5vh;
  /* margin: .7vh .7vh .7vh .7vh ; */
  margin-bottom: .7vh;
  position: relative;
}

/* .ident {
  position: relative;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  width: 100%;
  background-color: lightgrey;

} */

.ident {
  right: .5vh;
  top: 0;
  position: absolute;
}

.registerValues {
  /* height: 2vh; */
  padding: 3px;
}

.registerHexValue {
  font-weight: bold;
  /* height: 3.5vh; */
  /* line-height: 3.5vh; */
}

.registerDecValue {
  font-weight: bold;
  /* height: 3.5vh; */
  /* line-height: 2vh; */
}

.hexLabel {
  color: green;
  font-weight: normal;
}

.decLabel {
  color: black;
  font-weight: normal;
}